<template>
  <div class="projects">
    <h1 class="subheading grey--text">Customer</h1>
    <v-container>
      <v-flex md12>
        <v-app style="background-color: white;" class="ma-n4">
          <template>
            <v-data-table
                item-key="name"
                :headers="headers"
                :items="desserts"
                sort-by="calories"
                class="mr-2 mt-10">

              <template v-slot:top>
                <CreateCustomer/>
              </template>
              <template v-slot:item.action="{ item }">
                <v-icon
                    small
                    class="mr-2"
                    @click="editItem({item : item})"
                    color="green">
                  edit
                </v-icon>


              </template>
              <template v-slot:no-data>
                <v-btn color="primary" @click="initialize">Reset</v-btn>
              </template>
            </v-data-table>
          </template>
        </v-app>
      </v-flex>
    </v-container>
    <template>
      <v-row>
        <v-dialog v-model="dialogueEdit" persistent max-width="800px">

          <v-card>
            <template v-if="this.error && this.error.message &&  this.error.message[0]">
              <v-alert
                  type="warning"
                  title="Alert title"
              >{{ this.error.message[0][0] }}
              </v-alert>

            </template>
            <template v-if="this.message!='' ">
              <v-alert
                  color="success"
                  icon="$success"
                  title="Alert title"

              >{{ this.message }}
              </v-alert>

            </template>
            <v-card-title>
              <span class="headline">Edit Customer</span>
            </v-card-title>
            <v-form class="px-3" ref="form">
              <v-row>
                <v-col cols="12" md="6">
                  <v-text-field
                      class="mr-3"
                      v-model="firstname"
                      :rules="inputRules"
                      :counter="10"
                      label="First Name"
                      required
                      hide-details
                  ></v-text-field>
                </v-col>
                <v-col cols="12" md="6">
                  <v-text-field
                      class="mr-3"
                      v-model="lastname"
                      :rules="inputRules"
                      :counter="10"
                      label="Last Name"
                      hide-details
                      required
                  ></v-text-field>
                </v-col>
              </v-row>
              <v-row>
                <v-col cols="12" md="6">
                  <v-text-field
                      class="mr-3"
                      v-model="username"
                      :rules="inputRules"
                      :counter="10"
                      label="UserName"
                      required
                      hide-details
                  ></v-text-field>
                </v-col>
                <v-col cols="12" md="6">
                  <v-menu
                      ref="menu1"
                      v-model="menu1"
                      :close-on-content-click="false"
                      transition="scale-transition"
                      offset-y
                      max-width="290px"
                      min-width="290px">

                    <template v-slot:activator="{ on }">
                      <v-text-field
                          v-model="dateFormatted"
                          label="Date of Birth"
                          hint="MM-DD-YYYY format"
                          persistent-hint
                          @blur="date = parseDate(dateFormatted)"
                          v-on="on"
                      ></v-text-field>
                    </template>
                    <v-date-picker v-model="date" no-title @input="menu1 = false" :allowed-dates="(date) => date <= new Date().toISOString().substr(0, 10)"></v-date-picker>
                  </v-menu>
                </v-col>
              </v-row>
              <v-row>
                <v-col cols="12" md="6">
                  <v-text-field
                      class="mr-3"
                      v-model="password"
                      label="Password"
                      :rules="inputRules"
                      persistent-hint
                      type="password"
                  ></v-text-field>
                </v-col>
                <v-col cols="12" md="6">
                  <v-text-field
                      class="mr-3"
                      v-model="confirmpassword"
                      label="Confirm Password"
                      :rules="[inputRules, passwordConfirmationRule]"
                      persistent-hint
                      type="password"
                  ></v-text-field>
                </v-col>

              </v-row>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="blue darken-1" text @click="dialogueEdit = false">Close</v-btn>
                <v-btn color="green" text outlined @click="submit">Save</v-btn>
              </v-card-actions>
            </v-form>
          </v-card>
        </v-dialog>
      </v-row>
    </template>

  </div>
</template>

<script>
import CreateCustomer from '../components/CreateCustomer.vue'
import axios from "axios";


export default {
  data: () => ({
    url: 'http://sevenprinciples.test',
    desserts: [],
    dialogueEdit: false,
    detailedit: {},
    id: '',
    firstname: '',
    lastname: '',
    password: '',
    confirmpassword: '',
    username: '',
    due: null,
    date: new Date().toISOString().substr(0, 10),
    dateFormatted: '',
    menu1: false,
    inputRules: [
      v => v.length >= 3 || 'Minimum lenght is 3 charachters'
    ],
    error: [],
    message: '',
    items: ['Key1', 'Key2'],
    headers: [
      {text: 'First Name', value: 'FirstName', align: 'left'},
      {text: 'Last Name', value: 'Lastname'},
      {text: 'Date Of Birth', value: 'DateofBirth'},
      {text: 'Action', value: 'action', sortable: false},
    ],

  }),
  created() {
    this.initialize()
    this.formatDate(new Date().toISOString().substr(0, 10))
  },

  methods: {
    initialize: function () {

      const baseURI = this.url + '/php/api/listCustomer.php'
      this.$http.get(baseURI)
          .then((result) => {
            // eslint-disable-next-line no-console
            console.log(result.data.response.data);
            if (result.data.response.data) {
              this.desserts = result.data.response.data;
            }


          })


    },
    // eslint-disable-next-line no-unused-vars
    editItem: function ({item}) {
      this.error = [];
      this.message=""
      this.detailedit = item
      // eslint-disable-next-line no-console
      console.log(item)
      this.id = item.ID
      this.firstname = item.FirstName
      this.lastname = item.Lastname
      this.username = item.Username
      this.dateFormatted = item.DateofBirth
      this.dialogueEdit = true
    },
    formatDate(date) {
      if (!date) return null
      // var date = new Date().toISOString().substr(0, 10);
      const [year, month, day] = date.split('-')
      this.dateFormatted = `${year}-${month}-${day}`;
      return `${year}-${month}-${day}`
    },
    parseDate(date) {
      if (!date) return null

      const [year, month, day] = date.split('-')
      return `${year}-${month.padStart(2, '0')}-${day.padStart(2, '0')}`
    }, submit() {
      const baseURI = this.url + '/php/api/updateCustomer.php';

      axios.post(baseURI, {
        'ID': this.id,
        'FirstName': this.firstname,
        'Lastname': this.lastname,
        'Username': this.username,
        'Password': this.password,
        'DateofBirth': this.dateFormatted
      }).then(response => {

        if (response.data.error) {
              this.error = response.data.error;
         } else {
              this.error = [];
              this.message = response.data.message;
              setInterval(function () {
                location.reload();
              }, 500)

            }



          })
          .catch(() => {

          })
    },
  },
  components: {
    CreateCustomer


  },
  watch: {
    date() {
      this.dateFormatted = this.formatDate(this.date)
    },
  },
  computed: {
    passwordConfirmationRule() {
      return () => (this.password === this.confirmpassword) || 'Password must match'
    }
  }
}
</script>
