<template>
  <v-row>
    <v-dialog v-model="dialog" persistent max-width="800px">
      <template v-slot:activator="{ on }">
        <v-btn outlined color="teal lighten-3" dark v-on="on" @click="addCustomerButtonclick">Add Customer</v-btn>

      </template>
      <v-card>
        <v-card-title>
          <span class="headline">Add Customer</span>
        </v-card-title>
        <template v-if="this.error && this.error.message &&  this.error.message[0]">
          <v-alert
              type="warning"
              title="Alert title"
          >{{ this.error.message[0][0] }}
          </v-alert>

        </template>

        <template v-if="this.message!='' ">
          <v-alert
              color="success"
              icon="$success"
              title="Alert title"

          >{{ this.message }}
          </v-alert>

        </template>
        <v-form class="px-3" ref="form">
          <v-row>
            <v-col cols="12" md="6">
              <v-text-field
                  class="mr-3"
                  v-model="firstname"
                  :rules="inputRules"
                  :counter="10"
                  label="First Name"
                  required
                  hide-details
              ></v-text-field>
            </v-col>
            <v-col cols="12" md="6">
              <v-text-field
                  class="mr-3"
                  v-model="lastname"
                  :rules="inputRules"
                  :counter="10"
                  label="Last Name"
                  hide-details
                  required
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="12" md="6">
              <v-text-field
                  class="mr-3"
                  v-model="username"
                  :rules="inputRules"
                  :counter="10"
                  label="UserName"
                  required
                  hide-details
              ></v-text-field>
            </v-col>
            <v-col cols="12" md="6">
              <v-menu
                  ref="menu1"
                  v-model="menu1"
                  :close-on-content-click="false"
                  transition="scale-transition"
                  offset-y
                  max-width="290px"
                  min-width="290px"
              >
                <template v-slot:activator="{ on }">
                  <v-text-field
                      v-model="dateFormatted"
                      label="Date of Birth"
                      hint="MM/DD/YYYY format"
                      persistent-hint
                      @blur="date = parseDate(dateFormatted)"
                      v-on="on"
                  ></v-text-field>
                </template>
                <v-date-picker v-model="date" no-title @input="menu1 = false" :allowed-dates="(date) => date <= new Date().toISOString().substr(0, 10)" ></v-date-picker>
              </v-menu>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="12" md="6">
              <v-text-field
                  class="mr-3"
                  v-model="password"
                  label="Password"
                  :rules="inputRules"
                  persistent-hint
                  type="password"
              ></v-text-field>
            </v-col>
            <v-col cols="12" md="6">
              <v-text-field
                  class="mr-3"
                  v-model="confirmpassword"
                  label="Confirm Password"
                  :rules="[inputRules,passwordConfirmationRule]"
                  persistent-hint
                  type="password"
              ></v-text-field>
            </v-col>

          </v-row>


          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="blue darken-1" text @click="dialog = false">Close</v-btn>
            <v-btn color="green" text outlined @click="submit">Save</v-btn>
          </v-card-actions>
        </v-form>
      </v-card>
    </v-dialog>
  </v-row>
</template>

<script>
import axios from "axios";

export default {
  data: vm => ({
    url: 'http://sevenprinciples.test',
    dialog: false,
    firstname: '',
    lastname: '',
    password: '',
    confirmpassword: '',
    username: '',
    due: null,
    maxDate: new Date().toISOString().substr(0, 10),
    date: new Date().toISOString().substr(0, 10),
    dateFormatted: vm.formatDate(new Date().toISOString().substr(0, 10)),
    menu1: false,
    inputRules: [
      v => v.length >= 3 || 'Minimum lenght is 3 charachters'
    ],
    error: [],
    message: ''

  }),
  methods: {
    errorHandler() {

      if (!this.firstname.length) {
        return 'Minimum lenght is 3 charachters';
      }
    },
    formatDate(date) {
      if (!date) return null

      const [year, month, day] = date.split('-')
      return `${year}-${month}-${day}`
    },
    parseDate(date) {
      if (!date) return null

      const [year, month, day] = date.split('-')
      return `${year}-${month.padStart(2, '0')}-${day.padStart(2, '0')}`
    }, submit() {
      const baseURI = this.url + '/php/api/createCustomer.php';
      axios.post(baseURI, {
        'FirstName': this.firstname,
        'Lastname': this.lastname,
        'Username': this.username,
        'Password': this.password,
        'DateofBirth': this.dateFormatted
      })
          .then(response => {

            if (response.data.error) {
              this.error = response.data.error;
            } else {
              this.error = [];
              this.message = response.data.message;

            }

            setInterval(function () {
              this.error = [];
              this.message = '';

            }, 100000)

          })
          .catch(() => {

          })
    }, addCustomerButtonclick: function () {


      this.error = [];
      this.message = '';
      this.firstname = '';
      this.lastname = '';
      this.password = '';
      this.confirmpassword = '';
      this.username = '';
    }
  },
  computed: {
    computedDateFormatted() {
      return this.formatDate(this.date)
    },
    passwordConfirmationRule() {
      return () => (this.password === this.confirmpassword) || 'Password must match'
    }
  }



}
</script>